<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
            @* <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/> *@
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <span>Authorizing...</span>
                </Authorizing>
                <NotAuthorized>
                     <label class="alert-danger" role="alert"> You are not authorized to access this resource</label>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>